/**
 * 管理员个人首页的css文件
 */

#main{
	margin-bottom: 20px;
}

a{
	color: white;
	margin: 5px;
}

.col-md-2{
	color: white;
	height: 150px;
	padding: 30px;
}

#message{
	background-color:brown ;
	color: white;
	height: 304px;
	padding-top: 30px;
}

#curriculum{
	background-color:Peru ;
	color: white;
	margin-top: 158px;
}

#courses{
	background-color:CadetBlue ;
	color: white;
	height: 304px;
	padding-top: 30px;
}

#elective{
	background-color: MediumSeaGreen ;
	color: white;
	height: 304px;
	padding-top: 30px;
}

#curriculumarrange{
	background-color:cornflowerblue ;
	color: white;
	margin-top: 158px;
}

#exam{
	background-color: DarkOliveGreen ;
	color: white;
	height: 150px;
	padding: 20px;
}

#cet{
	background-color:Darkorange ;
	color: white;
}

#stuscore{
	background-color:crimson ;
	color: white;
	height: 150px;
	padding: 20px;
}

#evaluation{
	background-color: MediumPurple ;
	color: white;
}

#password{
	background-color: MediumOrchid ;
	color: white;
}

#modify{
	background-color: LightGrey ;
}

#check{
	background-color: black ;
	margin-top: 40px;
}

button{
	color: white;
	margin: 5px;
}

#modify div{
	margin-top: 3px;
	color: black;
}

#check div{
	margin-top: 3px;
	color: white;
}
