/**
 * 学生个人首页的css文件
 */

#main{
	margin-bottom: 20px;
}

a{
	color: white;
	margin: 5px;
}

.col-md-4{
	height: 304px;	
}

.col-md-2{
	height: 150px;
}

#message{
	background-color: MediumSeaGreen;
	color: white;
	height: 304px;
}

#curriculum{
	background-color: cornflowerblue;
	color: white;
	height: 304px;
	padding-top: 100px;
}

#courses{
	background-color: crimson;
	color: white;
	padding-top: 30px;
}

#elective{
	background-color: MediumOrchid ;
	color: white;
	padding-top: 30px;
}

#curriculumarrange{
	background-color: Darkorange;
	color: white;
	padding-top: 30px;
}

#exam{
	background-color: Peru ;
	color: white;
	padding-top: 30px;
}

#cet{
	background-color: CadetBlue ;
	color: white;
	padding-top: 30px;
}

#stuscore{
	background-color: brown ;
	color: white;
	height: 150px;
	padding: 20px;
}

#evaluation{
	background-color: DarkOliveGreen ;
	color: white;
	padding-top: 30px;
}

#password{
	background-color: MediumPurple ;
	color: white;
	padding-top: 30px;
}
